<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- boostrap  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- sweet alert styles -->
    <!-- <link rel="stylesheet" href="sweetalert2.min.css" /> -->
    <!-- css styles -->
    <link rel="stylesheet" href="static/style.css" />

    <title>User interface</title>
  </head>
  <body>
    <!-- Navigation bar with logo -->

    <!-- Just an image -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">
        <img height="60" alt="logo" src="/static/logo-big.png" />
      </a>
    </nav>

    <!-- welcome paragragh -->
    <h1>Welcome to our page</h1>
    <h2>Please upload yor files</h2>
    <pre> 
        {{ content }} 
    </pre>

    <!-- footer section -->
    <div class="footer">
        <p>Made by AUGMENT EXPERT SYSTEMS</p>
      </div>
  
      <!--  Script -->
      <!-- sweet alert -->
      <script src="static/script.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- <script src="sweetalert2.all.min.js"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </body>
  </html>