<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- boostrap  -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <!-- sweet alert styles -->
    <!-- <link rel="stylesheet" href="sweetalert2.min.css" /> -->
    <!-- css styles -->
    <link rel="stylesheet" href="static/style.css" />

    <title>User interface</title>
  </head>
  <body>
    <!-- Navigation bar with logo -->

    <!-- Just an image -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" >
        <img height="60" alt="logo" src="/static/logo-big.png" />
      </a>
    </nav>

    <!-- welcome paragragh -->
    <h1>Welcome to our page</h1>
    <h2>Please upload yor files</h2>

   
    
        
        

    <form method="POST" enctype="multipart/form-data">
      
      <div>
        <label>Choose <b>BLAST BO FILE</b> to upload</label>
        <input type="file" id="modelfile" accept=".csv" name="file1" />
        
      </div>

      <div id="modelmessage">
        <p>No files currently selected for upload</p>
      </div>
      {% with bowarning = get_flashed_messages(category_filter=["bowarning"]) %}
      {% if bowarning %}
          {%- for message in bowarning %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <span>{{ message }}</span>
      </div>
      {% endfor -%}
      {% endif %}
  {% endwith %}
      <!-- second form to submit blast file -->

      
      <div>
        <label>Choose <b>BLAST BI FILE</b> to upload</label>
        <input type="file" id="blastfile" accept=".csv" name="file2" />
      </div>

      <div id="blastmessage">
        <p>No files currently selected for upload</p>
      </div>
      {% with biwarning = get_flashed_messages(category_filter=["biwarning"]) %}
      {% if biwarning %}
          {%- for message in biwarning %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <span>{{ message }}</span>
      </div>

      {% endfor -%}
      {% endif %}
  {% endwith %}
      <!-- the button to upload files -->
      <button id="upload" type="submit" >Upload files</button>
      {% with uploadsuccess = get_flashed_messages(category_filter=["uploadsuccess"]) %}
      {% if uploadsuccess %}
          {%- for message in uploadsuccess %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
          <span>{{ message }}</span>
        </div>
      {% endfor -%}
      {% endif %}
  {% endwith %}
      <!-- <input id = "file1" type = "submit"/> -->
      <!-- action="{{ url_for('upload_files') }}" -->
     
    </form>

     <!-- the button to run program -->
     <a id="run" href= "/run_program"  onClick= "runProgram1()" type ="submit" action="{{ url_for('run_program') }}">Run program </a>
      

    

    <!-- footer section -->
    <div class="footer">
      <p>Made by AUGMENT EXPERT SYSTEMS</p>
    </div>

    <!--  Script -->
    <!-- sweet alert -->
    <script src="static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="sweetalert2.all.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </body>
</html>
